body,html { 
    height: 100%;
    margin: 0;
}

body{ 
    background-color: #ffffff; 
}

#header, #footer {
    width: 100% ;
    background-color: #8adee9;
    margin: 0;
}

#header {
    height: 15%;
    text-align: left;
    display: flex;
}

#header {
    background-image: url("foto koeien.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#h1 {
    height:100%;
    width: 20%;
    text-align: left;
}

#h2 {
    height:100%;
    width: 60%;
    text-align: center;
}

#h3 {
    height:100%;
    width: 20%;
    text-align: right;
}
     
#topnav {
    overflow: hidden;
    background-color: rgb(223, 223, 210);
    height: 5%;
}

#topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#topnav a:hover {
    background-color: #ddd;
    color: black;
}

#container { 
    height: 70%;
    width:100%;  
    display: flex;
    clear: both;
   
}

.column.middle { 
    background-image: url("hooizolder2.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:300px;     
}


.column {
    float: left;
    padding: 10px;
}

.column.left {
    height: 100%; 
    width:75%;
    text-align: left;
} 

.column.right {
    height: 100%; 
    width:25%; 
    text-align: right;
    background-color: pink;
}   


.column.middle {
    height: 100%; 
    width:50% ;
    text-align: center;
}


#container :after {
    content: "";
    display: table;
    clear: both;
}

#footer {
    height: 10%;
    text-align: center;
}

h1 {
    margin:0;
    font-family: 'Bangers', cursive;
    text-align: center;
}

h2 {
    font-family: 'Mali', cursive;
    margin: 0;
}

h3 {
     font-family: 'Mali', cursive;
    margin: 0;
}

h4 {
    font-family: 'Nothing You Could Do', cursive;
    margin: 0;
    text-align: center;
}

p {
    font-family: 'Mali', cursive;
    margin: 0;
}

.copyright {
    font-family: none;
    margin: 0;
}

a {
    font-family: 'Mali', cursive;
    margin: 0;
}

li {
    font-family: 'Mali', cursive;
    margin: 0;
}

.logo {
    height: 95%;
    margin-right: 5%;
}

.logo2 {
    height: 95%;
    margin-left: 5%;
}

.photo {
    margin: 0;
    width:100%;   
}