body,html { 
    height: 100%;
    margin: 0;
}
body{ 
   background-color: #f0f9f6;
    
}
h1 {
    text-align: center;

}


#center{
    width: 60%;
    height: 100%;
    margin: auto;
}
#header, #footer {
    width: 100% ;
    background-color: white;
    margin: 0;
}
#header {
    height: 200px;
    text-align: left;
    display: flex;
    text-align: center;
    background-color: white;
    margin-top: 1%
}    
#menu {
    overflow: hidden;
    background-color: #a0cec2;
    height: 45px;
    width: 100%;
    margin-top: 1%;
    font-family: "Lucida Console", Courier, monospace;
}
#menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#menu a:hover {
    background-color: #ddd;
    color: black;
}
#midden, #midden2 { 
    width:100%;  
    clear: both; 
    background-color: white;
    margin-top: 1%;
} 
#midden {
    display: block;
    height:auto;
    margin: 0;
}
#a, #b, #c, #d {
    height: 300px;  
    width: 100% ;
    background-color: white;
}
.een, .twee, .drie, .vier, .vijf, .zes, .zeven, .acht {
    height: 50%;
    width:100% ;
    text-align: center;
    background-color: white;

} 

#midden :after {
    content: "";
    display: table;
    clear: both;
}
#footer {
    height: 20%;
    font-family: "Lucida Console", Courier, monospace;
    text-align: center;
    background-color: #a0cec2;
    margin-top: 1%;
    margin-bottom: 0%
    }



