body,html { 
    height: 100%;
    margin: 0;
}
body{ 
    background-color: #ffffff; 
}
#header, #footer {
    width: 100% ;
    background-color: #8adee9;
    margin: 0;
}
#header {
    height: 12%;
    text-align: left;
    display: flex;
}
#header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#h1 {
    height:100%;
    width: 15%;
    text-align: left;
}
#h2 {
    height:100%;
    width: 70%;
    text-align: center;
}
#h3 {
    height:100%;
    width: 15%;
    text-align: right;
}    
#menu {
    overflow: hidden;
    background-color: rgb(223, 223, 210);
    height: 5%;
}
#menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#menu a:hover {
    background-color: #ddd;
    color: black;
}
#midden { 
    height: 78%;
    width:100%;  
    display: flex;
    clear: both;
   
}
#lings {
    height: 100%; 
    width:83%;
    text-align: center;
    display: flex;
} 
#rechts {
    height: 100%; 
    width:17%; 
    text-align: center;
    background-color: pink;
}  
#a, #c, #c, #d {
    height: 100%;  
    width: 25% ;
    background-color: rgb(189, 178, 241);
}
.een, .twee .drie, .vier, .vijf, .zes, .zeven, .acht {
    height: 25%;
    width:100% ;
    text-align: center;
    background-color: whitesmoke;
} 

#midden :after {
    content: "";
    display: table;
    clear: both;
}
#footer {
    height: 5%;
    text-align: center;
}



